

<div class="container">
  <table class="table1">
    <tr>
      <th>Pending</th>
    </tr>
    <tr *ngFor="let item of pending_tasks">
      <td class="td">
        {{item}}
        <button class="editbutton">Edit</button>
        <button class="deletebutton">Delete</button>
      </td>
    </tr>
    <tr><td></td></tr>
  </table>
  <table class="table2">
    <tr>
      <th>Ongoing</th>
    </tr>
    <tr *ngFor="let item of ongoing_tasks">
      <td class="td">
        {{item}}
        <button class="editbutton">Edit</button>
        <button class="deletebutton">Delete</button>
      </td>
    </tr>
    <tr><td></td></tr>
  </table>
  <table class="table3">
    <tr>
      <th>Completed</th>
    </tr>
    <tr *ngFor="let item of completed_tasks">
      <td class="td">
        {{item}}
        <button class="editbutton">Edit</button>
        <button class="deletebutton">Delete</button>
      </td>
    </tr>
    <tr><td></td></tr>
  </table>
</div>

<router-outlet></router-outlet>
