body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  float: left;
  width: 33.33%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  min-height: 100%;
}

.table2 {
  left: 33.3%;
}

.table3 {
  left: 66.6%;
}

th {
  height: 80px;
  background-color: rgba(59, 183, 249, 0.6);
}

.td {
  height: 60px;
  border: 1px solid;
  border-radius: 20px;
  border-color: #3bb7f9;
  padding: 10px;
}

td button {
  float: right;
  height: 50px;
}

@media screen and (max-width: 600px) {
  table {
    width: 100%;
  }
}
